{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
	<h2>Eliminar Datos</h2>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="alert alert-danger mt-3 mb-3" role="alert">
				<h4>Eliminar datos de {{ class|trans }}</h4>
				{# https://symfony.com/doc/current/form/bootstrap4.html#reference-forms-bootstrap-error-messages #}
				{% form_theme form 'bootstrap_4_layout.html.twig' %}
				{{ form_start(form) }}
					{{ form_errors(form) }}
					<div class="row g-2">
						<div class="col-sm-4">
							<button class="form-control btn btn-secondary">No, regresar al listado</button>
						</div>
						<div class="col-sm-4">
							{{ form_widget(form.yes, {'attr': {'class': 'form-control btn btn-danger' }, 'label': 'Si, eliminar datos'}) }}
						</div>
					</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
