{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_actions %}
    {% for action in entity.actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}
{% block page_content %}
	<h2>Modificar Stock</h2>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
				<h3 class="display-6">{{ vessel.name }}</h3>
				<p class="lead">{{ vessel.model }}, {{ vessel.manufacturer }}</p>
				<div class="alert alert-success mt-3 mb-3" role="alert">
					<h4>Unidades en Stock: {{ vessel.count }}</h4>
					{# https://symfony.com/doc/current/form/bootstrap4.html#reference-forms-bootstrap-error-messages #}
					{% form_theme form 'bootstrap_4_layout.html.twig' %}
					{{ form_start(form) }}
						{{ form_errors(form) }}
						<div class="row g-3">
							<div class="col-sm-2">
								{{ form_widget(form.disminuir, {'attr': {'class': 'form-control btn btn-primary'}} ) }}
							</div>
							<div class="col-sm-4">
								{{ form_widget(form.cantidad, {'attr': {'class': 'form-control', 'placeholder': 'Cantidad', 'aria-label': 'Cantidad', 'min': '0', 'value': '' }} ) }}
							</div>
							<div class="col-sm-2">
								{{ form_widget(form.incrementar, {'attr': {'class': 'form-control btn btn-primary'}}) }}
							</div>
						</div>
						<div class="">
							{{ form_errors(form.cantidad) }}
						</div>
						{% if error %}
						<div class="row g-3">
							<div class="col-sm">
								<div class="alert alert-danger mt-3 mb-3" role="alert">
									{{ error.getMessage }}
								</div>
							</div>
						</div>
						{% endif %}
					{{ form_end(form) }}
				</div>

		</div>
	</div>

{% endblock %}
