{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
	<h2>Importar datos WSAPI</h2>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h3 class="display-6">Importar desde Api de SWAPI</h3>
			<p class="lead">La base de datos a sido cargada a través de la api de SWAPI.</p>
			{{ form_start(form) }}
				{{ form_errors(form) }}

				<div class="form-control">
					<i class="fa fa-rocket"></i>
					{{ form_label(form.starships, 'Naves Espaciales') }}
					{{ form_widget(form.starships) }}

					<small>{{ form_help(form.starships) }}</small>
				</div>
				<div class="form-control">
					<i class="fa fa-space-shuttle"></i> 
					{{ form_label(form.vehicles, 'Vehículos') }}
					{{ form_widget(form.vehicles) }}

					<small>{{ form_help(form.vehicles) }}</small>
				</div>
				<div class="alert alert-success mt-3 mb-3" role="alert">
					Las tablas seleccionadas han sido importadas.
				</div>

			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
