{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_content %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h3 class="display-6">Bienvenidos al Cliente Api REST de SWAPI</h3>
			<section>
				<p class="lead">Administrar Contenidos</p>
				<div class="form-control">
					<a href="#">
						<i class="fa fa-rocket"></i>
						Naves Espaciales
					</a>			
				</div>
				<div class="form-control">
					<a href="#">
						<i class="fa fa-space-shuttle"></i> 
						Vehículos
					</a>		
				</div>
		
				<div class="col-auto mt-3">
					<a href="{{ path('admin_config') }}" class="btn btn-primary mb-3">Configurar</a>
				</div>
			</section>
			<div class="col-md-8">
				<section>
					<p class="lead">
						Sincronizar Inventario
					</p>
					<p>
						Utilice la Api REST de SWAPI para sincronizar la base de datos con el servidor remoto.<br>
						Los datos locales seran borrados antes de sincronizar las bases.
					</p>
					<video id="video1" style="width:600px;max-width:100%;" controls="">
						<source src="{{ asset('video/configurar.webm') }}" type="video/webm">
						Your browser does not support HTML5 video.
					</video>
				</section>
				<section>
					<p class="lead">
						Administrar Inventario
					</p>
					<p>
						Puede utilizar las pantallas de administración para administrar los datos de las unidades
						como así también las cantiades disponibles en el stock.
					</p>
					<video id="video1" style="width:600px;max-width:100%;" controls="">
						<source src="{{ asset('video/modificar_stock.webm') }}" type="video/webm">
						Your browser does not support HTML5 video.
					</video>
				</section>
				<section>
					<p class="lead">
						Administrar Inventario Utilizando Api REST
					</p>
					<p>
						También se encuentra disponible una Api REST para administra las unidades del Inventario.
					</p>
					<video id="video1" style="width:600px;max-width:100%;" controls="">
						<source src="{{ asset('video/modificar_stock_api.webm') }}" type="video/webm">
						Your browser does not support HTML5 video.
					</video>
				</section>
			</div>
		</div>
	</div>

{% endblock %}
